.alcohol__item{
  //width: 20%;
  //margin: 20px 10px  0 0;
  width: 100%;
  max-width: 150px;
  margin-bottom: 30px;
  .alcohol__item__img img{
    width: 150px;
    max-width: 100%;
  }
  .title{
    font-family: "Roboto", "serif";
    color: #000000;
    text-align: center;
  }
}

