@font-face {
    font-family: 'Seaweed Script';
    src: url('SeaweedScript-Regular.eot');
    src: local('Seaweed Script'), local('SeaweedScript-Regular'),
        url('SeaweedScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('SeaweedScript-Regular.woff2') format('woff2'),
        url('SeaweedScript-Regular.woff') format('woff'),
        url('SeaweedScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

